{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 text-black">
    <h2 class="text-center">Контакты</h2>
    <p class="text-center">Свяжитесь с нами любым удобным способом</p>

    <div class="row">
        <div class="col-md-6">
            <h4>Наш адрес</h4>
            <p>г. Москва, ул. Примерная, д. 10</p>
            <h4>Email</h4>
            <p>support@watchshop.ru</p>
            <h4>Телефон</h4>
            <p>+7 (900) 123-45-67</p>
        </div>
    </div>
</div>
{% endblock %}
