{% extends "home/base.html" %}
{% load static %}

{% block title %}Видео — Интернет-магазин часов{% endblock %}

{% block content %}
<div class="container text-center mt-5 text-black">
    <h2 class="mb-4">Наши видеообзоры</h2>

    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <video class="card-img-top" controls>
                    <source src="/media/videos/watch_ad_1.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
                <div class="card-body">
                    <h5 class="card-title">Видеообзор 1</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <video class="card-img-top" controls>
                    <source src="/media/videos/watch_ad_2.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
                <div class="card-body">
                    <h5 class="card-title">Видеообзор 2</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
